
* {
  text-align: center;
  background-color: cornsilk;
}
.input {
  border-radius: 5px;
  font-size: 20px;
  background-color: beige;
  width: 300px;
  height: 50px;
}
.header {
  font-size: 50px;
  color: burlywood;
}
.list-header {
  font-size: 40px;
  color: darkgoldenrod;
}
.submitBtn {
  border-radius: 5px;
  background-color: burlywood;
  width: 60px;
  height: 55px;
  margin: 0 0 0 1px;
  cursor:grab;
}
.todo-item {
  /* border: 0.1px solid grey; */
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
}